.nav-bar{
   background-color: black;
   color: #fff;
   position: fixed;
   padding-top: 10px;
   z-index: 1;
}

.spacer {
    flex: 1 1 auto;
  }
  .logo-container{
      height: auto;
  }
  .logo{
      width: 20%;
      height: 5%;
  }

  .nav-bar a:hover, .nav-bar a:active{
     text-decoration: none;
     color: salmon;
  }
