<div class="movie-body">
    <div *ngFor='let item of fullMovieList' class ='movie-container'>
        <span class='movie-details'>
            <table>
                <tr>
                    <td class="first-coloumn">Title</td>
                    <td class="second-coloumn">{{item.title}}</td>
                </tr>
                <tr>
                    <td class="first-coloumn">Year</td>
                    <td class="second-coloumn">{{item.year}}</td>
                </tr>
                <tr>
                    <td class="first-coloumn">Cast</td>
                    <td class="second-coloumn">{{item.cast}}</td>
                </tr>
            </table>
        </span>
        <div class="btn-container">
            <button (click) = 'deleteMovie(item.id)' mat-icon-button  color="warn" class="btn">
                <mat-icon>delete</mat-icon>
            </button>
            <button (click) = 'open(content, item)' mat-icon-button  color="warn" class="btn">
                <mat-icon>create</mat-icon>
            </button>
        </div>
    </div>

    <!-- ----------------------------modal ----------------------------------------------------->

    <ng-template #content let-modal class='modal-container'>
        <div class='modal-container'>
            <div class="modal-header" >
                <h4 class="modal-title" id="modal-basic-title">Update Movie Title</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]='updatedTitle' (ngSubmit) = 'updateTitle()'>
                  <div class="form-group">
                    <div class="input-group">
                      <input id="title" class="form-control" placeholder="Enter Movie Title" formControlName='title' class="title">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-dark" >Save</button>
                  </div>
                </form>
              </div>
        </div>
    </ng-template>

</div>
